.Tank {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: transparent url('./assets/player.png') center / contain no-repeat;
}

// .left {
//     width: 200px;
//     height: 200px;
//     transform: rotate(90deg);
//     right: 0;
//     bottom: 0;
// }